{% extends './layout.html' %}
{% block titulo %} Desarrollador FullStack {% endblock %}

{% block body %} 
    <div class="all-biography">
        <div class="name-perfil-jesus">
            <h1>Jesús Andrés Infante Páez</h1>
            <h2>Sobre mi</h2><br/>
        </div>
        <div class="content-biography">
            <div class="information">
                <h2>👶 Niñez</h2>
            
                <ul>
                    <li>~ Nací el 29 de diciembre del 2001 en Ubaté</li>
                    <li>~ Tuve una infancia tranquila y divertida, mis estudios preescolares y de primaria los lleve a cabo en el colegio Escuela Normal Superior de Ubaté</li>
                    <li>~ Madre: Ana Paéz</li>
                    <li>~ Padre: Mauricio Infante</li>
                    <li>~ Hermanos: 2 (hermanos meyores) - 1 (hermana menor)</li>
                </ul>
                <h2>👨‍🦱 Adolescencia</h2>
                
                <ul>
                    <li>~ Estudie en el colegio Escuela Normal Superior de Ubaté donde culminé mis estudios de bachillerato</li>
                    <li>~ Viví una adolescencia agradable con buenos resultados en cuanto formación académica, amistades y familiar. Aunque se presente varios problemas personales tipicos de esta etapa de la vida.</li>

                </ul>
                <h2>👨‍💻 Vida en la Universidad</h2>
                <br>
                <ul>
                    <li>~ Ingeniería de Sistemas en la Universidad de Cundinamarca</li>
                    <li>~ Participación en competencias internas de programación y proyectos</li>
                    <li>~ Me motivo estudiar y obtener nuevo conocimiento sobre temas relacionados con la tecnología y el desarrollo de software, por lo tanto complete varias certificaciones y cursos anexos a la carrera de pregrado</li>
                </ul>
                <h2>🎮 Pasatiempos</h2>
                
                <ul>
                    <li>~ Ver series, peliculas, animes y caricaturas</li>
                    <li>~ Cursos secundarios relacionados con la carrera</li>
                    <li>~ Programar y aprender constantemente</li>
                    <li>~ Disfrutar tiempo con mi familia</li>
                </ul>
                <h2>🎯 Metas</h2>
                
                <ul>
                    <li>~ Graduarme como ingeniero</li>
                    <li>~ Tener trabajo estable y bien remunerado</li>
                    <li>~ Llevar a cabo mis estudios de posgrado y especialización</li>
                    <li>~ Obtener bienes materiales propios y llevar un vida personal, económica y social estable</li>
                </ul>
            </div>
            <div class="photo">
                <img src="../static/css/img/Jesus.jpg" />
            </div>
        </div>
    </div>
{% endblock %}
{% block button_footer %}
<button class="button-comentario"><a href="/comentarios" style="text-decoration: none;">Dejar un
        comentario</a></button>
{% endblock %}