{% extends './layout.html' %}
{% block titulo %} Diseñadora UX/UI {% endblock %}

{% block body %} 
    <div class="all-biography">
        <div class="name-perfil-lore">
            <h1>Yensy Lorena Rueda Roa</h1>
            <h2>Sobre mi</h2><br/>
        </div>
        <div class="content-biography">
            <div class="information">
                <h2>👶 Niñez</h2>
            
                <ul>
                    <li>~ Nací el 07 de enero del 2002 en Villanueva (Casanare)</li>
                    <li>~ Mis primeros años de vida curse la primaria en el colegio Bello Horizonte del mismo municipio</li>
                    <li>~ Madre: Claudia Roa</li>
                    <li>~ Padre: Freddy Rueda</li>
                    <li>~ Hermanos: 1 (hermano menor)</li>
                </ul>
                <h2>👧 Adolescencia</h2>
                
                <ul>
                    <li>~ Desde finales del 2013 me radique en Bogotá</li>
                    <li>~ Estudié en el Colegio Castilla IED, donde culminé mis estudios de bachillerato</li>
                    <li>~ A finales del año 2018 me radique en el municipio de Ubaté donde inicié mis estudios universitarios</li>

                </ul>
                <h2>👩‍💻 Vida en la Universidad</h2>
                <br>
                <ul>
                    <li>~ Ingeniería de Sistemas en la Universidad de Cundinamarca</li>
                </ul>
                <h2>📺 Pasatiempos</h2>
                
                <ul>
                    <li>~ Ver series</li>
                    <li>~ Compartir tiempo de calidad con mi familia</li>
                </ul>
                <h2>🎯 Metas</h2>
                
                <ul>
                    <li>~ Graduarme como ingeniero</li>
                    <li>~ Encontrar un trabajo estable donde me sienta cómoda para cada día adquirir más habilidades y tener un mejor desempeño profesional</li>
                </ul>
            </div>
            <div class="photo">
                <img src="../static/css/img/Lorena.jpg" />
            </div>
        </div>
    </div>
{% endblock %}
{% block button_footer %}
<button class="button-comentario"><a href="/comentarios" style="text-decoration: none;">Dejar un
        comentario</a></button>
{% endblock %}
